API_URL=http://localhost:8888/api

KEYCLOAK_URL=http://localhost:8182
KEYCLOAK_REALM=inlive
KEYCLOAK_CLIENT_ID=inlive
KEYCLOAK_CLIENT_SECRET=change-me
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me

POSTGRES_ADDRESS=postgres
POSTGRES_ADDRESS_PORT=5432
POSTGRES_DB_NAME=inlive
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
FILE_API_URL=http://inlive-file-manager:8888
APP_ALLOWED_ORIGINS=http://localhost:3000

AWS_ACCESS_KEY_ID=change-me
AWS_SECRET_ACCESS_KEY=change-me
AWS_BUCKET=change-me

KC_DB=postgres
KC_DB_URL_HOST=postgres-keycloak
KC_DB_URL_PORT=5432
KC_DB_URL_DATABASE=keycloak
KC_DB_USERNAME=postgres
KC_DB_PASSWORD=postgres
KC_HOSTNAME_STRICT=false
KC_HOSTNAME_STRICT_HTTPS=false
KC_PROXY=edge
